h1{
  text-align: center;
}
.fin{
  text-align: center;
}
.bouttons{
  text-align: center;
}
.table{
  background-image:url("Img/table.png");
  background-size: cover;
  background-repeat: no-repeat;
  height :900px;
  text-align: center;
}
